{% extends 'base.html.twig' %}

{% block title %}Votre commande{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Montant de la location</th>
                    <th>Image</th>
                    <th>Fin de date de location</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in order %}
                        <tr>
                            <td>{{ item.item.type }}</td>
                            <td>{{ item.item.amount }} €</td>
                            <td><img src="{{ item.item.image }}" alt="{{ item.item.type }}" style="width: 100px; height: 50px;"></td>
                            <td>
                                {% set form = input.createView %}
                                {{ form_start(form) }}
                                {{ form_row(form.endDate, { 'attr' : { 'placeholder' : "Choisissez le type d'utilisateur"}})}}
                                {{ form_end(form) }}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
                <a href="#" class="btn btn-success btn-sm">Payer</a>
            </table>
        </div>

    </div>




{% endblock %}