{% extends 'admin/index.html.twig' %}

{% block title %}
	Les facturations
{% endblock %}

{% block dashboard %}
	<div class="container-fluid h-100">
		<p></p>
		<div class="">
			<table class="table">
				<thead>
					<tr>
						<th class="align-middle text-center">Véhicule</th>
						<th class="align-middle text-center">Propriétaire</th>
						<th class="align-middle text-center">Date de location</th>
						<th class="align-middle text-center">Date de fin de location</th>
						<th class="align-middle text-center">Montant en €</th>
						<th class="align-middle text-center">État de la location</th>
						<th class="align-middle text-center">État du paiement</th>
						<th class="align-middle text-center">Photo</th>
					</tr>
				</thead>
				<tbody>
					{% for bill in bills %}
						<tr>
							<td class="align-middle text-center">{{ bill[1].type }}</td>
							<td class="align-middle text-center">{{ bill[1].idOwner.name }}</td>
							<td class="align-middle text-center">{{ bill[0].startDate | date('d-m-Y') }}</td>
							{% if bill[0].endDate != null %}
								<td class="align-middle text-center">{{ bill[0].endDate | date('d-m-Y') }}</td>
							{% else %}
								<td class="align-middle text-center">-</td>
							{% endif %}
							<td class="align-middle text-center">{{ bill[0].price }}
								€</td>

							{% if bill[0].returned %}
								<td class="align-middle text-center">Terminée</td>
							{% else %}
								<td class="align-middle text-center">En cours</td>
							{% endif %}


							{% if bill[0].paid == true %}
								<td class="align-middle text-center">Terminé</td>
							{% else %}
								<td class="align-middle text-center">Non effectué</td>
							{% endif %}

							<td class="align-middle text-center"><img src="{{ asset('uploads/cars/') }}{{ bill[1].image }}" alt="{{ bill[1].type }}" style="height: 100px; object-fit: cover"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
