{% extends 'admin/index.html.twig' %}

{% block title %}
	Les véhicules - RentCar
{% endblock %}

{% block dashboard %}
	<div class="container-fluid h-100">
		<div class="d-flex">
			{% for message in app.flashes('message') %}
				<div class="alert alert-dismissible alert-success" style="margin: 0 auto">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endfor %}
		</div>
		<div class="d-flex flex-column justify-content-center align-items-center">

			{% if cars | length == 0 %}
				<p></p>
				<p></p>
				<p class="lead">Aucune voiture pour le moment.</p>
			{% else %}
				<table class="table w-75">
					<thead>
						<tr>
							<th class="align-middle text-center">Type</th>
							<th class="align-middle text-center">Caractéristiques</th>
							<th class="align-middle text-center">Montant de la location</th>
							<th class="align-middle text-center">Image</th>
							<th class="align-middle text-center"></th>
							<th class="align-middle text-center"></th>
						</tr>
					</thead>
					<tbody>
						{% for car in cars %}
							<tr>
								<td class="align-middle text-center">{{ car.type }}</td>
								<td class="align-middle text-center">
									<table class="table">
										<thead>
											<th class="align-middle text-center">Catégorie</th>
											<th class="align-middle text-center">Carburant</th>
											<th class="align-middle text-center">Moteur</th>
											<th class="align-middle text-center">Boite de vitesse</th>
											<th class="align-middle text-center">Nombre de portes</th>
										</thead>
										<tbody>
											<td class="align-middle text-center">{{car.datasheet.category}}</td>
											<td class="align-middle text-center">{{car.datasheet.fuel}}</td>
											<td class="align-middle text-center">{{car.datasheet.engine}}</td>
											<td class="align-middle text-center">{{car.datasheet.shift}}</td>
											<td class="align-middle text-center">{{car.datasheet.nb_portes}}</td>
										</tbody>
									</table>
								</td>
								<td class="align-middle text-center">{{ car.amount }}
									€</td>
								<td class="align-middle text-center"><img src="{{asset('uploads/cars/')}}{{ car.image }}" alt="{{ car.type }}" style="height: 100px; object-fit: cover"></td>
								<td class="align-middle text-center">
									<a href="{{ path('admin_car_edit', {id : car.id }) }}">
										<i class="fas fa-edit btn btn-warning"></i>
									</a>
								</td>
								<td class="align-middle text-center">
									<a href="{{ path('admin_car_delete', {id : car.id } ) }}">
										<i class="fas fa-trash btn btn-danger"></i>
									</a>
								</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</div>
{% endblock %}
