{% extends 'admin/index.html.twig' %}

{% block title %}
	Gestion des locations
{% endblock %}

{% block dashboard %}
	<div class="container-fluid h-100">
		<div>
			<table class="table">
				<thead>
					<tr>
						<th class="align-middle text-center">Véhicule</th>
						<th class="align-middle text-center">Date de location</th>
						<th class="align-middle text-center">Date de fin de location</th>
						<th class="align-middle text-center">Photo</th>
					</tr>
				</thead>
				<tbody>
					{% for rental in rentals %}
						<tr>
							<td class="align-middle text-center">{{ rental[1].type }}</td>
							<td class="align-middle text-center">{{ rental[0].startDate | date('d-m-Y') }}</td>
							<td class="align-middle text-center">{{ rental[0].endDate | date('d-m-Y') }}</td>
							<td class="align-middle text-center"><img src="{{ asset('uploads/cars/') }}{{ rental[1].image }}" alt="{{ rental[1].type }}" style="height: 100px; object-fit: cover"></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
