{% extends 'base.html.twig' %}

{% block title %} {{ car.type }} - RentCar {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'col-8' : 'col-12' }}">
                <div class="card" style="width: 700px; margin: 1em auto">
                    <img class="card-img-top" src="{{asset('uploads/cars/')}}{{ car.image }}" alt="Card image cap" style="object-fit: contain">
                    <div class="card-body">
                        <h1 class=""card-title>{{ car.type }}</h1>
                        <h5 class="title">{{car.amount}}</h5>
                        <p class="card-text">GGGG</p>
                    </div>
                </div>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="col-4">
                    {% block formRent %}{% endblock %}
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}

