{% extends 'user_space/index.html.twig' %}


{% block title %}Mes locations{% endblock %}

{% block dashboard %}

    <div class="container-fluid h-100">
        <p></p>
        <div class="d-flex">
            {% for message in app.flashes('message') %}
                <div class="alert alert-dismissible alert-success"  style="margin: 0 auto">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Le véhicule à été correctement rendu !
                    Votre facture est disponible dans l'onglet "Mes Factures".
                </div>
            {% endfor %}
        </div>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Véhicule</th>
                    <th>Date de location</th>
                    <th>Date de fin de location</th>
                    <th>Photo</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill[1].type }}</td>
                        <td>{{ bill[0].startDate | date('d-m-Y') }}</td>
                        <td>{{ bill[0].endDate | date('d-m-Y') }}</td>
                        <td><img src="{{ asset('uploads/cars/') }}{{ bill[1].image }}" alt="{{ bill[1].type }}" style="height: 100px; object-fit: cover"></td>

                        {% if bill[0].paid == false %}
                            <td><a href="{{ path('cart_pay', {id : bill[0].id }) }}" class="btn btn-success">Régler la commande</a></td>
                        {% else %}
                            <td><a href="{{ path('user_space_car_return', {id : bill[0].id }) }}" class="btn btn-danger">Rendre le véhicule</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
